.bigBoard{
    display: flex;
    align-items: flex-start;
}
.btn{
    background: #0000ff;
    border-radius: 25px;
    box-shadow: #0000ff 0 10px 20px -10px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 18px;
    width: auto;
    height: auto;
    border: none;
}